<section>
<div class="container">
    <table class="table mt-5">
<thead>
<tr>
    <th scope="col">Item</th>
    <th scope="col">Title</th>
    <th scope="col">Quantity</th>
    <th scope="col">Amount</th>
    <th scope="col">Options</th>
</tr>
</thead>
<tbody>
    {{#each products}}
    <tr>
        
        <td><img style="width: 70px;height:70px" src="/product-images/{{this.product._id}}.jpg" alt=""></td>
        <td>{{this.product.Name}}</td> 
        
        <td>
            <button class="cart-item-count mr-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user1}}',-1)">-</button> 
            <span id="{{this.product._id}}">{{this.quantity}} </span>
            <button class="cart-item-count ml-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user1}}',1)">+</button>
        </td>
        <td> INR {{this.product.Price}}</td>
        <td>
            <a href="" class="btn btn-danger" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user1}}',0)">Remove</a>
        </td>
    </tr>
    {{/each}}
</tbody>
    </table>
<hr>
<h3 class=" float-end mt-4" style="margin-right:80px">Total: INR. <span id="total">{{totalValue}}</span></h3>

<a href="/place-order" class="float-end btn btn-success" style="width: 20%;margin-right:-220px;margin-top:70px; "><b>Place Order</b></a>

</div>
</section>

<script>
    function changeQuantity(cartId,proId,userId,count){
        let quantity=parseInt(document.getElementById(proId).innerHTML)
        count=parseInt(count)
        $.ajax({
            url:'/change-product-quantity',
            data:{
                user:userId,
                cart:cartId,
                product:proId,
                count:count,
                quantity:quantity
            },
            method:'post',
            success:(response)=>{
                if(response.removeProduct){
                alert("Product Removed from cart")
                location.reload()
                }else{
                    document.getElementById(proId).innerHTML=quantity+count
                    document.getElementById('total').innerHTML=response.totalAmount
                    location.reload()
                }
            }
        })
    }
</script>