<section>
    <div class="container mt-5">
      <div class="row">
        {{#each products}}
        <div class="col-md-3 p-3">
          <div class="card" style="width: 16rem; height:15rem;">
            <img  class="card-img-top"
              src="/product-images/{{this._id}}.jpg"
               alt="Card-image-cap"
               style="height: 16rem; width:16rem;">
            <div class="card-body">
              <h5 class="card-title">{{this.Name}}</h5>
              <p class="card-text">{{this.Description}}</p>
              <h4 class="card-text"> INR {{this.Price}}</h4>
              {{!-- <a href="/add-to-cart/{{this._id}}" class="btn btn-primary">Add to Cart</a> --}}
              <button onclick="addtoCart('{{this._id}}')" class="btn btn-primary">Add to Cart</button>
            </div>
          </div>
        </div>
         {{/each}}
        </div>
      </div>
  </section>

  
